* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.wrapper {
  margin-top: 100px;
}
.wrapper button {
  background-color: green;
  font-size: 30px;
  height: 100px;
  margin: 10px 10px;
  width: 150px;
}
@media screen and (max-width: 1023px) {
  .wrapper {
    margin: 100px auto;
    width: 400px;
  }
  .wrapper button {
    background-color: purple;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    padding: 0px 20px;
    width: 100%;
  }
  .wrapper button {
    background-color: pink;
    display: block;
    margin: 10px 0px;
    vertical-align: top;
    width: 100%;
  }
}
