* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #BABABA;
}
#wrapper {
    background-color: #fff;
    height: 619px;
    margin: 0px auto;
    position: relative;
    width: 1119px;
}
.june_calendar, .august_calendar {
    position: absolute;
    top: 52px;
}
.june_calendar {
    left: 35px;
}
.august_calendar {
    right: 35px;
}
table {
    margin: 0px auto;
}
h1 {
    display: inline-block;
    margin: 90px 0px 34px 0px;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
span {
    border: 2px solid #000;
    display: inline-block;
    font: 26px/26px arial, sans-serif;
    height: 58px;
    margin: 3px 10px;
    padding: 15px 10px;
    text-align: center;
    width: 130px;
}  
table thead tr th span  {
    font-weight: bold;
}
.saturday {
    background-color: #A9D08E;
}
.sunday {
    background-color: #5B9BD5;
}
.empty {
    background-color: #E7E6E6;
    border: none;
}